@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 7px;
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 4px;
  width: 7px;
}

* {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #eff3fa;
  background-image: linear-gradient(315deg, #eff3fa 0%, #fbfcfc 74%);
}

input {
  padding: 4px 2px;
  border: 1px solid #ddd;
  width: 100%;
  background-color: #eee;
  border-radius: 4px;
}

textarea {
  padding: 4px 2px;
  border: 1px solid #ddd;
  width: 100%;
  background-color: #eee;
  border-radius: 4px;
}

dialog {
  width: auto;
}

.profile-bg {
  background-color: #bbb;
  background-image: radial-gradient(#333 0.7px, #fff 0.5px);
  background-size: 10px 10px;
}
