@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*::-webkit-scrollbar {
  width: 7px;
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 4px;
  width: 7px;
}

body {
  background-color: #f2f2f2;
  /* background-image: linear-gradient(115deg, #cdc1ff 0%, #e5d9f2 74%); */
}

input {
  padding: 4px 2px;
}
